<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Ear Buds</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    body {
    background-image: url(images/bud.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width:100%;
    background-size: cover;
    padding-top:80px;
}
      
    </style>
</head>
<body>
   
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Ear Buds</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>