<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <title>Welcome to EarBuds!</title>
    <style>
        h1 {
            color:#006666;
            font-family: 'Megrim', serif;
            font-weight: bolder;
            font-size: 800%;
        }
        video{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            min-width:100%;
            min-height:100%;
            width:auto;
            height:auto;
            z-index:1;
        }
        .text{
            z-index:2;
            position:relative;
            color:#006666;
        }
        .stroke{
            color: #fff;
            text-shadow: -1px 0px 1px black, 0px 1px 1px black, 1px 0px 1px black, 0px -1px 1px black;
            -webkit-font-smoothing: antialiased;
        }
    </style>
    
        <script type="text/javascript" src="JS/jquery.min.js"></script>
        <script type="text/javascript" src="JS/typeahead.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'typeahead',
                remote: 'https://'+window.location.host+'/search?key=%QUERY',
                limit: 10
            });
        });
        </script>
        
    <style type="text/css">
        .bs-example{
        	font-family: sans-serif;
        	position: relative;
        	margin: 20px;
        	z-index: 3;
        }
        .typeahead, .tt-query, .tt-hint {
        	border: 2px solid #CCCCCC;
        	border-radius: 6px;
        	font-size: 16px;
        	height: 30px;
        	line-height: 30px;
        	outline: medium none;
        	padding: 4px 12px;
        	width: 300px;
        }
        .typeahead {
        	background-color: #FFFFFF;
        }
        .typeahead:focus {
        	border: 2px solid #0097CF;
        }
        .tt-query {
        	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
        	color: #999999;
        }
        .tt-dropdown-menu {
        	background-color: #FFFFFF;
        	border: 1px solid rgba(0, 0, 0, 0.2);
        	border-radius: 8px;
        	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        	margin-top: 12px;
        	padding: 8px 0;
        	width: 422px;
        }
        .tt-suggestion {
        	font-size: 24px;
        	line-height: 24px;
        	padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
        	background-color: #0097CF;
        	color: #FFFFFF;
        }
        .tt-suggestion p {
        	margin: 0;
        }
    </style>
        
    </head>
<body>
    <div class="container">
        <video width="320" height="240" autoplay="true" loop>
        <source src="images/welcome.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
    
        <div class="text"> 
            <div style="text-align:center">  
                <div class="container">

                    <div class="stroke">
                        <h1>E a r B u d s</h1>
                    </div>
                    
                    <div class="bs-example">
                        <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Search Artists">
                        <a href="/artist" class="btn btn-default"><span class="fa fa-user"></span> Search! </a>
                    </div>
                    
                    <p>Login or Register with:</p>
            
                    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login </a>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-pencil-square-o"></span> Signup </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>